.ato__header {
    font-family: $font-primary;
    color: #fff;
    &--h1 {
        text-align: center;
        font-size: $font-size * 2;
        color: #fff;
    }

    &--h2 {

    }

    &--h3 {
        font-size: $font-size * 1.25;
        color: #fff;
    }

    &--h4 {
        font-size: $font-size;
    }

    &--h5 {
        font-size: $font-size * 0.75;
    }
}