@font-face {
    font-family: 'Deftone';
    src: url('../assets/fonts/Deftone.ttf') format('truetype');
}
@font-face {
    font-family: 'Silk';
    src: url('../assets/fonts/slkscr.ttf') format('truetype');
}
@font-face {
    font-family: 'Silk B';
    src: url('../assets/fonts/slkscrb.ttf') format('truetype');
}

// SIZES
$size-base: 4px;
$size-bar: $size-base * 12;
$size-tiny: $size-base / 2;
$size-small: $size-base * 2;
$size-medium: $size-base * 4;
$size-large: $size-base * 6;
$size-huge: $size-base * 12;


$font-primary: 'Silk', monospace;
$font-secondary: 'Silk', monospace;
$font-size: $size-base * 4;
$font-line: $size-base * 5;

// COLOR SCHEME
$color-brand: #067514;
$color-brand-dark: #00520A;
$color-brand-darkest: #003006;

$color-font: #e9e9e9;
$color-dark: #203020;

$color-accent-light: #975E08;
$color-accent-dark: #5C0662;



// BREAKPOINTS
$break-small: 500px;
$break-large: 1100px;