// BASIC SIZING
@font-face {
    font-family: 'Deftone';
    src: url('../assets/fonts/Deftone.ttf') format('truetype');
}
@font-face {
    font-family: 'Silk';
    src: url('../assets/fonts/slkscr.ttf') format('truetype');
}
$font-family: 'Silk';
$base-size: 4px;
$font-size: $base-size * 4;

// COLOR SCHEME
$color-brand: green;
$color-primary: #505050;
$color-secondary: #909090;
$color-inverse: #c0c0c0;


// BREAKPOINTS
$break-small: 500px;
$break-large: 1100px;