.mol__form-field {
    margin: $size-medium 0;


    .ato__paragraph--error {
        display: none;
    }

    &--error {
        .ato__paragraph--error {
            display: block;
        }
    }

    &--checkbox {
        .ato__label {
            display: flex;
        }
        .ato__header {
            flex-grow: 1;
        }
        .ato__input {
            flex-grow: 0;
            width: auto;
        }
    }
}